*, *:before, *:after { box-sizing: inherit }

html {
  @include fluid-type(320px, 1200px, 16px, 24px);
}

:focus { outline-color: darken($color, 10); }

body {
  min-height: 100vh;
  font-family: 'Exo', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Vollkorn', serif; }

main {
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;

  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  grid-area: header;
  align-self: start;

  display: flex;
  align-items: stretch;
  align-content: stretch;

  background-color: $color;
}

.logo {
  &__link {
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
  }
}

.nav {
  margin-left: auto; // align nav to right

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    display: flex;
    height: 100%;
  }

  // &__item { border: 1px solid; }

  &__link {
    color: #fff;
    display: block;
    padding: 1.3rem 1rem .5rem;
    text-decoration: none;
    border-bottom: .2rem solid transparent;
    height: 100%;

    &:hover {
      border-bottom-color: currentColor;
      color: #fff;
    }
  }
}


.content {
  grid-area: content;
  align-self: start;

  max-width: 820px;
  margin: 0 auto;
  padding: 1rem 0;
}


.card {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem;

  &__header { margin-bottom: 1rem; }

  &__title {
    font-size: 1.8rem;
    margin: 0;

    small {
      display: block;
      font-size: 1rem;
    }
  }

  &__content {
    line-height: 1.65;
    margin: 0;
  }
}



.post__list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  &__item { margin-bottom: 1rem; }
}

.post__item {
  // border: 1px solid;
  padding: 1rem;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__content p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.65;
  }
}


.post {
  padding: 1rem;

  &__header {
    border: 1px solid;
    margin-bottom: 1rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__date {
    border: 1px solid;
  }

  &__categories {
    border: 1px solid;
  }

  &__categories__item {
    border: 1px solid;
  }

  &__content {
    border: 1px solid;
    line-height: 1.65;

    p {
      margin-top: 0;
      margin-bottom: 0;

      + p { margin-top: 1rem; }
    }
  }
}


.pagination {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;

  &__link {
    border: 1px solid;
    padding: 1rem;

    &:only-child { margin: 0 auto; }

    &--prev {}
    &--next {}
  }

  &__disabled {
    border: 1px solid;
    padding: 1rem;

    &--prev {}
    &--next {}
  }

  &__page-number {
    border: 1px solid;
    padding: 1rem;
  }
}


.footer {
  grid-area: footer;
  align-self: end;
  text-align: center;

  font-size: .85rem;
  padding: 1rem;

  &__link {}

  &__nav { padding: .25rem; }

  &__nav__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__nav__item { display: inline-block; }

  &__nav__link { display: block; }
}
